
.App {margin: 30px;
height: 100%}

.Header {
  background-color: #D3D3D3;
  padding: 20px 10px;
  font-family: 'VT323', monospace;
  font-size: 40px;
  text-align: center;
}

.main {
  height: 100%;
  overflow:hidden
}

html, body {
    height: 100%;
}

.sideBar {
  width:15%;
  background-color: #FFED66;
  height: 100vh;
  float: left;
  overflow: auto;
}

.mainArea {
  width:85%;
  background-color: #FFFFEA;
  height: 100%;
  float:left;
  overflow: auto

}

.email {
  height: 80px;
  color: #111;
  line-height: 20px;
  position: static;
}

.style-1 {
  background-color: #00CECB;
}

.style-0 {
  background-color: #FFA69E;
}

.email label{
  color: black;
  font-weight: bold;
}



/* #FFFFEA
#FFED66
#00CECB
#FFA69E*/
